/*
	 Copyright IBM Corp. 2016
*/
md-chips.small md-chip {
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 16px;
  height: 16px;
}

.chip.defect {
  /*background-color: red;*/
}

.chip.feature {
  /*background-color: darkgreen;*/
}

.task-complete {
    color: darkgreen;
}

.task-idle {

}

.task-working {

}

task-card.gu-transit md-card {
  opacity: 0.4;
}

.dragula-container task-card {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.gu-unselectable {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.clickable {
  cursor: pointer;
}

.hidden {
  display: none;
}

md-card.small > md-card-header {
  /*padding: 3px !important;*/
 padding-top: 3px !important;
 padding-bottom: 3px !important;
}

md-card.small > md-card-actions {
  padding: 3px !important;
}

md-card.small > md-card-title {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  font-size: 14px;
}

md-card.small > md-card-content {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  font-size: 10px;
}

md-card.defect > md-card-header {
  background-color: #FFC1C1;
}

md-card.feature > md-card-header {
  background-color: #A2C19D;
}

md-card.development > md-card-header {
  background-color: #9DABC1;
}

md-card.support > md-card-header, md-card.issue > md-card-header, md-card.supportcase > md-card-header {
  background-color: #FFF49D;
}

md-card.todo > md-card-header {
  background-color: lightgrey;
}
