<div layout="row">
    <div ng-repeat="list in lists track by $index" flex layout="column" layout-margin ng-cloak="">

        <md-whiteframe class="md-whiteframe-1dp" layout >
            <div layout layout-margin flex layout-align="center center">
                <h3>{{list.name}}</h3>
            </div>
            <md-button class="md-primary" aria-label="add new task" ng-click="newTaskDialog($event, list._id)" >
                <i class="material-icons md-36">add</i>
            </md-button>
        </md-whiteframe>

        <div dragula="'swimlanes'" data-list-id="{{list._id}}" dragula-scope="$parent" dragula-model="list.tasks" flex>
            <div ng-if="list.tasks.length == 0" layout="column" layout-align="center center">
                <span>Empty: click on (+) to add task to this list.</span>
                <span>Or you can move task from other list</span>
            </div>
            <task-card
              ng-repeat="task in list.tasks | tasksIdsFilter:search track by $index"
              class="draggable" taskid="task">
            </task-card>
        </div>
    </div>
</div>
<md-button class="md-fab md-primary md-fab-bottom-right" aria-label="add new list" ng-click="addNewList($event)">
    <i class="material-icons md-36">add</i>
</md-button>
