<div layout="row">
    <div ng-repeat="list in lists track by $index" flex layout="column" layout-margin>

        <md-whiteframe class="md-whiteframe-1dp" layout >
            <div layout layout-margin flex layout-align="center center">
                <h3>{{list.name}}</h3>
            </div>
            <md-button class="md-primary" aria-label="add new task" ng-click="newTaskDialog($event, list._id)" >
                <i class="material-icons md-36">add</i>
            </md-button>
        </md-whiteframe>

        <div dragula="'swimlanes'" dragula-scope="$parent" dragula-model="list.tasks">
            <md-card ng-repeat="task_id in list.tasks track by $index" class="draggable" 
                     md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}"
                     md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <!--<span class="md-headline">{{ getTask(task_id).name }}</span>-->
                        <span class="md-subhead">{{ getTask(task_id).name }}</span>
                        <!-- <span class="md-subhead">Large</span> -->
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Archive</md-button>
                    <md-button>View</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>
<md-button class="md-fab md-primary md-fab-bottom-right" aria-label="add new list" href="#">
    <i class="material-icons md-36">add</i>
</md-button>