<md-card
  ng-class="{'small': small}"
  md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}"
  ng-mouseover="toggleHidden()"
  ng-mouseout="toggleHidden()"
  id="task_card_{{task._id}}"
  md-theme-watch>
  <md-card-header>
    <md-card-avatar ng-click="editTask()" class="clickable">
      <img
        ng-if="task.getOwner().profile.serial"
        class="md-avatar img-circle"
        ng-src="http://faces.tap.ibm.com/imagesrv/{{task.getOwner().profile.serial}}.jpg?s=115">
      <span class="img-circle" ng-if="!task.getOwner().profile.serial">
        <i class="fa fa-question fa-lg"></i>
      </span>
      <md-tooltip>
        Assigned to {{task.getOwner().getName() || "nobody"}}
      </md-tooltip>
    </md-card-avatar>
    <span flex></span>
    <task-state task="task"></task-state>
  </md-card-header>
  <md-card-title>
    <md-card-title-text>
      <span class="md-content"
        layout-align="center center">{{ task.name }}</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <!-- TODO: This doesn't work, but readonly md-chips also has
    issues because it requires an ng-model thing. -->
    <md-chips ng-model="task.labels" readonly="true" class="small">
      <md-chip-template>
        <i class="{{getLabelClass($chip)}}"></i>
        <span>{{$chip}}</span>
      </md-chip-template>
    </md-chips>
  </md-card-content>
  <md-card-actions
    ng-hide="hiding"
    layout="row" layout-align="end center">
    <span flex></span>
    <span ng-if="!small">
      <md-button
        class="md-primary md-icon-button"
        ng-click="startWorking()"
        ng-if="task.state == 'idle' || !task.state">
        <i class="fa fa-play"></i>
        <md-tooltip>Start working on this task</md-tooltip>
      </md-button>
      <md-button
        class="md-icon-button"
        ng-click="stopWorking()"
        ng-if="task.state == 'working'">
        <i class="fa fa-stop"></i>
        <md-tooltip>Stop working on this task</md-tooltip>
      </md-button>
      <md-button
        class="md-warn md-icon-button"
        ng-click="completeWork()"
        ng-if="task.state == 'working'">
        <i class="fa fa-check"></i>
        <md-tooltip>Complete work on this task</md-tooltip>
      </md-button>
      <md-button
        class="md-warn md-icon-button"
        ng-click="reopen()"
        ng-if="task.state == 'done'">
        <i class="fa fa-recycle"></i>
        <md-tooltip>Re-open this task</md-tooltip>
      </md-button>
      <md-button ng-click="editTask()" class="md-icon-button">
        <i class="fa fa-eye"></i>
        <md-tooltip>View/edit details of this task</md-tooltip>
      </md-button>
    </span>
  </md-card-actions>
</md-card>
