<!--  Copyright IBM Corp. 2016 -->
<span>
  <span ng-if="task.state == 'idle' || !task.state" class="task-idle">
    <i class="material-icons">assignment_late</i>
    <md-tooltip>task is not being worked on</md-tooltip>
  </span>
  <span ng-if="task.state == 'working'" class="task-working">
    <i class="material-icons">assignment_ind</i>
    <md-tooltip>task is being worked on</md-tooltip>
  </span>
  <span ng-if="task.state == 'done'" class="task-complete">
    <i class="material-icons">assignment_turned_in</i>
    <md-tooltip>task has been completed</md-tooltip>
  </span>
</span>
