<md-dialog aria-label="List dialog" flex="60">
  <form >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          {{task.name}}
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()" aria-label="close">
          <i class="fa fa-times"></i>
        </md-button>
      </div>
    </md-toolbar>

    <div class="md-dialog-content">
      <md-dialog-content>
        <div layout="column">
          <md-input-container ng-if="editing" flex>
            <label>Task Name</label>
            <textarea ng-model="task.name">
            </textarea>
          </md-input-container>

          <md-input-container ng-if="editing" flex>
            <label>Task Description</label>
            <textarea ng-model="task.description">
            </textarea>
          </md-input-container>
          <div ng-if="!editing">
            <h3>Description</h3>
            <div ng-if="task.description != ''">
              <div ng-bind-html="markdownToHTML(task.description)"></div>
            </div>
            <!-- {{markdownToHTML(task.description)}} -->
          </div>
        </div>

        <div layout="row" layout-wrap>
          <md-button ng-click="edit()" class="md-primary" aria-label="Update">
            <span ng-if="!editing">
              <i class="fa fa-pencil"></i> Edit
            </span>
            <span ng-if="editing">
              <i class="fa fa-save"></i> Save
            </span>
          </md-button>
          <md-button
            class="md-primary"
            ng-click="startWorking()"
            ng-if="task.state == 'idle'">
            <i class="fa fa-play"></i> Start Working
          </md-button>
          <md-button
            ng-click="stopWorking()"
            ng-if="task.state == 'working'">
            <i class="fa fa-stop"></i> Stop Working
          </md-button>
          <md-button
            class="md-warn"
            ng-click="completeWork()"
            ng-if="task.state == 'working'">
            <i class="fa fa-check"></i> Complete Work
          </md-button>
          <md-button
            class="md-warn"
            ng-click="reopen()"
            ng-if="task.state == 'done'">
            <i class="fa fa-recycle"></i> Re-open
          </md-button>
          <span flex></span>
        </div>
        <div layout="row" layout-wrap>
          <md-chips flex="100" layout="right center" ng-if="task.labels"
            md-enable-chip-edit
            ng-model="task.labels"
            md-on-add="saveLabels()"
            md-on-remove="saveLabels()"
            placeholder="add tag">
            <md-chip-template>
              <i class="{{getLabelClass($chip)}}"></i>
              <span>{{$chip}}</span>
            </md-chip-template>
          </md-chips>
        </div>
        <hr />

        <div layout="row">
          <md-list-item class="md-3-line" flex>
            <img class="md-avatar img-circle" ng-src="http://faces.tap.ibm.com/imagesrv/{{task.getAuthor().profile.serial}}.jpg?s=115">
            <div class="md-list-item-text" style="width: 100%">
              <h3>Author</h3>
              <p>{{task.getAuthor().getName() || "Unknown"}}</p>
              <p>
                Created {{getDate(task.createdAt).toLowerCase()}}
              </p>
            </div>
          </md-list-item>
          <md-list-item class="md-3-line" flex>
            <img
              ng-if="task.getOwner().profile.serial"
              class="md-avatar img-circle"
              ng-src="http://faces.tap.ibm.com/imagesrv/{{task.getOwner().profile.serial}}.jpg?s=115">
            <div class="md-list-item-text" style="width: 100%">
              <div ng-if="!editOwner">
                <h3>Owner</h3>
                <p>
                  {{task.getOwner().getName() || "Unassigned" }}
                </p>
                <p>
                  Updated {{getDate(task.updatedAt).toLowerCase()}}
                </p>
              </div>
              <div ng-if="editOwner">
                <md-select ng-model="task.owner" placeholder="assign to a new user"
                  md-on-open="loadUsers()" md-on-close="changeOwner()" style="min-width: 200px;">
                  <md-option ng-value="user.getValidId()" ng-repeat="user in possible_owners">
                    {{user.getName()}}
                  </md-option>
                </md-select>
              </div>
            </div>
            <md-button md-ink-ripple class="md-secondary md-icon-button"
              ng-if="!editOwner"
              ng-click="toggleEditOwner()" aria-label="re-assign">
              <md-icon class="material-icons md-12">create</md-icon>
              <div class="md-ripple-container"></div>
            </md-button>
          </md-list-item>
        </div>

        <hr />

        <md-list class="md-dense">
          <md-subheader class="md-no-sticky">Updates</md-subheader>
          <md-list-item class="md-2-line" ng-repeat="update in updates | uniqueUpdateIds track by update._id">
            <span style="display: none">{{update._id}}</span>
            <img class="md-avatar img-circle" ng-src="http://faces.tap.ibm.com/imagesrv/{{update.getUser().profile.serial}}.jpg?s=115">
            <div class="md-list-item-text" style="width: 100%">
              <h3>{{update.getUser().getName() || "Unknown"}}, {{getDate(update.updatedAt).toLowerCase()}}</h3>
              <div ng-if="update.type == 'comment'" ng-bind-html="markdownToHTML(update.text)"></div>
              <div ng-if="update.type == 'owner-change'">Changed owner from {{getUserId(update.data.previous)}} to {{getUserId(update.data.new)}}</div>
              <div ng-if="update.type == 'state-change'">Changed state from {{update.data.previous}} to {{update.data.new}}</div>
              <div ng-if="update.type == 'list-change'">Changed list from {{getListName(update.data.previous)}} to {{getListName(update.data.new)}}</div>
            </div>
            <md-divider></md-divider>
          </md-list-item>
          <md-list-item class="md-3-line">
            <img class="md-avatar img-circle" ng-src="http://faces.tap.ibm.com/imagesrv/{{me.profile.serial}}.jpg?s=115">
            <div class="md-list-item-text" style="width: 100%">
              <form name="comment_form">
                <div layout="row">
                  <md-input-container flex="80" layout="row">
                    <label>add comment</label>
                    <textarea ng-model="new_comment.text">
                    </textarea>
                  </md-input-container>

                  <md-button flex class="md-primary md-button md-ink-ripple" type="button"
                    aria-label="add comment" ng-click="addComment($event)">
                    <i class="material-icons md-12 ng-scope">add</i>
                    <div class="md-ripple-container"></div>
                  </md-button>
                </div>
              </form>
            </div>
          </md-list-item>
        </md-list>
      </md-dialog-content>
    </div>

    <md-dialog-actions>
      <md-button ng-click="cancel()" class="md-primary" aria-label="Cancel">
        <span ng-if="!editing">
          <i class="fa fa-times"></i> Close
        </span>
        <span ng-if="editing">
          <i class="fa fa-times"></i> Cancel
        </span>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
