<md-dialog aria-label="List dialog" flex="60">
  <form >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{task.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()" aria-label="close">
          <i class="fa fa-times"></i>
        </md-button>
      </div>
    </md-toolbar>

    <div class="md-dialog-content">
      <md-dialog-content>
        <div layout="row">
          <md-input-container ng-if="editing" flex>
            <label>Edit Description</label>
            <textarea ng-model="task.description">
            </textarea>
          </md-input-container>
          <div ng-if="!editing" ng-bind-html="markdownToHTML(task.description)">
            <!-- {{markdownToHTML(task.description)}} -->
          </div>
        </div>

        <div layout="row">
          <md-button ng-click="edit()" class="md-primary" aria-label="Update">
            <span ng-if="!editing">
              <i class="fa fa-pencil"></i> Edit
            </span>
            <span ng-if="editing">
              <i class="fa fa-save"></i> Save
            </span>
          </md-button>
          <span flex></span>
          <md-chips flex="50" layout="right center" ng-if="task.labels"
            md-enable-chip-edit
            ng-model="task.labels"
            md-on-add="saveLabels()"
            md-on-remove="saveLabels()"
            placeholder="add tag">
          </md-chips>
        </div>
        <hr />

        <div layout="row">
          <md-list-item class="md-3-line" flex>
            <img class="md-avatar img-circle" ng-src="http://faces.tap.ibm.com/imagesrv/{{task.getAuthor().profile.serial}}.jpg?s=115">
            <div class="md-list-item-text" style="width: 100%">
              <h3>Author</h3>
              <p>{{task.getAuthor().getName()}}</p>
              <p>created at {{getDate(task.createdAt)}}</p>
            </div>
          </md-list-item>
          <md-list-item class="md-3-line" flex>
            <img class="md-avatar img-circle" ng-src="http://faces.tap.ibm.com/imagesrv/{{task.getOwner().profile.serial}}.jpg?s=115">
            <div class="md-list-item-text" style="width: 100%">
              <h3>Owner</h3>
              <p>{{task.getOwner().getName()}}</p>
              <p>updated at {{getDate(task.updatedAt)}}</p>
            </div>
          </md-list-item>
        </div>

        <hr />

        <md-list>
          <md-subheader class="md-no-sticky">Comments</md-subheader>
          <md-list-item class="md-2-line" ng-repeat="comment in comments track by $index">
            <img class="md-avatar img-circle" ng-src="http://faces.tap.ibm.com/imagesrv/{{comment.getUser().profile.serial}}.jpg?s=115">
            <div class="md-list-item-text" style="width: 100%">
              <h3>{{comment.getUser().getName()}}</h3>
              <div ng-bind-html="markdownToHTML(comment.text)"></div>
            </div>
            <md-divider></md-divider>
          </md-list-item>
          <md-list-item class="md-3-line">
            <img class="md-avatar img-circle" ng-src="http://faces.tap.ibm.com/imagesrv/{{me.profile.serial}}.jpg?s=115">
            <div class="md-list-item-text" style="width: 100%">
              <form name="comment_form">
                <div layout="row">
                  <md-input-container flex="80" layout="row">
                    <label>add comment</label>
                    <textarea ng-model="new_comment.text">
                    </textarea>
                  </md-input-container>

                  <md-button flex class="md-primary md-button md-ink-ripple" type="button"
                    aria-label="add comment" ng-click="addComment($event)">
                    <i class="material-icons md-12 ng-scope">add</i>
                    <div class="md-ripple-container"></div>
                  </md-button>
                </div>
              </form>
            </div>
          </md-list-item>
        </md-list>
      </md-dialog-content>
    </div>

    <md-dialog-actions>
      <md-button ng-click="cancel()" class="md-primary" aria-label="Cancel">
        <span ng-if="!editing">
          <i class="fa fa-times"></i> Close
        </span>
        <span ng-if="editing">
          <i class="fa fa-times"></i> Cancel
        </span>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
